@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./dot-matrix.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 225 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 94.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --shadow-solid-l: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
    --shadow-solid-2: 0px 2px 10px rgba(122, 135, 167, 0.05);
    --shadow-solid-3: 0px 6px 90px rgba(8, 14, 40, 0.04);
    --shadow-solid-4: 0px 6px 90px rgba(8, 14, 40, 0.1);
    --shadow-solid-5: 0px 8px 24px rgba(45, 74, 170, 0.08);
    --shadow-solid-6: 0px 8px 24px rgba(10, 16, 35, 0.08);
    --shadow-solid-7: 0px 30px 50px rgba(45, 74, 170, 0.1);
    --shadow-solid-8: 0px 12px 120px rgba(45, 74, 170, 0.06);
    --shadow-solid-9: 0px 12px 30px rgba(45, 74, 170, 0.06);
    --shadow-solid-10: 0px 8px 30px rgba(45, 74, 170, 0.06);
    --shadow-solid-11: 0px 6px 20px rgba(45, 74, 170, 0.05);
    --shadow-solid-12: 0px 2px 10px rgba(0, 0, 0, 0.05);
    --shadow-solid-13: 0px 2px 19px rgba(0, 0, 0, 0.05);

    --animate-line1: line 3s linear infinite;
    --animate-line2: line 6s linear infinite;
    --animate-line3: line 9s linear infinite;

    --color-current: currentColor;
    --color-transparent: transparent;
    --color-stroke: #eeeeee;
    --color-strokedark: #2d2f40;
    --color-hoverdark: #252a42;
    --color-titlebg: #adfff8;
    --color-titlebg2: #ffeac2;
    --color-titlebgdark: #46495a;
    --color-btndark: #292e45;
    --color-white: #ffffff;
    --color-black: #181c31;
    --color-blackho: #2c3149;
    --color-blacksection: #1c2136;
    --color-primary: #006bff;
    --color-primaryho: #0063ec;
    --color-meta: #20c5a8;
    --color-waterloo: #757693;
    --color-manatee: #999aa1;
    --color-alabaster: #fbfbfb;
    --color-zumthor: #edf5ff;
    --color-socialicon: #d1d8e0;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 100% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 13.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;



    --shadow-solid-l: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
    --shadow-solid-2: 0px 2px 10px rgba(122, 135, 167, 0.05);
    --shadow-solid-3: 0px 6px 90px rgba(8, 14, 40, 0.04);
    --shadow-solid-4: 0px 6px 90px rgba(8, 14, 40, 0.1);
    --shadow-solid-5: 0px 8px 24px rgba(45, 74, 170, 0.08);
    --shadow-solid-6: 0px 8px 24px rgba(10, 16, 35, 0.08);
    --shadow-solid-7: 0px 30px 50px rgba(45, 74, 170, 0.1);
    --shadow-solid-8: 0px 12px 120px rgba(45, 74, 170, 0.06);
    --shadow-solid-9: 0px 12px 30px rgba(45, 74, 170, 0.06);
    --shadow-solid-10: 0px 8px 30px rgba(45, 74, 170, 0.06);
    --shadow-solid-11: 0px 6px 20px rgba(45, 74, 170, 0.05);
    --shadow-solid-12: 0px 2px 10px rgba(0, 0, 0, 0.05);
    --shadow-solid-13: 0px 2px 19px rgba(0, 0, 0, 0.05);

    --animate-line1: line 3s linear infinite;
    --animate-line2: line 6s linear infinite;
    --animate-line3: line 9s linear infinite;

    --color-current: currentColor;
    --color-transparent: transparent;
    --color-stroke: #eeeeee;
    --color-strokedark: #2d2f40;
    --color-hoverdark: #252a42;
    --color-titlebg: #adfff8;
    --color-titlebg2: #ffeac2;
    --color-titlebgdark: #46495a;
    --color-btndark: #292e45;
    --color-white: #ffffff;
    --color-black: #181c31;
    --color-blackho: #2c3149;
    --color-blacksection: #1c2136;
    --color-primary: #006bff;
    --color-primaryho: #0063ec;
    --color-meta: #20c5a8;
    --color-waterloo: #757693;
    --color-manatee: #999aa1;
    --color-alabaster: #fbfbfb;
    --color-zumthor: #edf5ff;
    --color-socialicon: #d1d8e0;
  }


}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-gabarito), sans-serif;
  }
}

.dropdown {
  @apply -left-7.5 mt-2 hidden min-w-max flex-col gap-4 rounded-md border border-stroke bg-white px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark dark:bg-black xl:invisible xl:absolute xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-10 xl:opacity-0 xl:before:absolute xl:before:-top-1.5 xl:before:left-10 xl:before:h-3 xl:before:w-3 xl:before:rotate-45 xl:before:border-l xl:before:border-t xl:before:border-stroke xl:before:bg-white xl:group-hover:visible
  /* xl:group-hover:translate-y-6.5 */
  xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-black;
}

.no-scrollbar {

  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.img-white {
  filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg) brightness(100%) contrast(105%);
}

/* .blog-details-docs {
  @apply rounded-lg border border-white p-7.5 shadow-solid-3 transition-all dark:border-strokedark dark:bg-blacksection xl:p-12.5;
}
 */
/* .blog-details p {
  @apply mb-8 text-base leading-relaxed text-titlebgdark dark:text-waterloo;
}

.blog-details p strong {
  @apply text-primary dark:text-waterloo;
}

.blog-details h3 strong,
.blog-details h3 {
  @apply mb-10 text-xl font-semibold ! leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h4 strong,
.blog-details h4 {
  @apply text-xl font-semibold ! leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h5 strong,
.blog-details h5 {
  @apply mb-3 text-lg font-semibold ! leading-tight text-black dark:text-white sm:text-xl;
}

.blog-details h1 {
  @apply mb-4 text-3xl font-bold ! leading-tight ! text-black dark:text-white sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px];
}

.blog-details h2 strong,
.blog-details h2 {
  @apply mb-4 text-[26px] font-bold ! leading-tight ! text-black dark:text-white sm:text-3xl md:text-4xl;
}

.blog-details ul,
.blog-details ol {
  @apply mb-10 list-inside list-disc text-titlebgdark;
}

.blog-details li,
.blog-details li {
  @apply mb-2 text-base text-titlebgdark dark:text-waterloo;
}

.blog-details blockquote {
  @apply relative z-10 mb-10 overflow-hidden rounded-xs bg-manatee p-8 text-center text-base font-medium italic text-black dark:bg-titlebgdark md:py-9 lg:px-10;
} */

/* .blog-details blockquote::after {
  content: "";
  @apply absolute bottom-0 right-0 h-20 w-20 bg-[url(/images/blog/quote-shape-2.svg)] bg-contain bg-right-bottom bg-no-repeat;
}

.blog-details blockquote::before {
  content: "";
  @apply absolute left-0 top-0 h-[106px] w-[140px] bg-[url(/images/blog/quote-shape-1.svg)] bg-contain bg-left-top bg-no-repeat dark:bg-[url(/images/blog/quote-shape-1.svg)];
}
 */
pre {
  @apply relative mb-2 rounded-lg bg-strokedark px-4 py-2;
}

.prism-copy-button {
  @apply absolute right-2 top-2 h-[26px] rounded-sm bg-white px-4 text-primary;
}

.active-tab {
  @apply bg-stroke text-black dark:text-white;
}

@layer utilities {
  .shadow-solid-13 {
    box-shadow: var(--shadow-solid-13);
  }

  .border-strokedark {
    border-color: var(--color-strokedark);
  }

  .border-stroke {
    border-color: var(--border);
  }

  .-left-7\.5 {
    left: -1.875rem;
  }

  .xl\:group-hover\:translate-y-6\.5 {
    transform: translateY(1.625rem);
  }

  .p-7\.5 {
    padding: 1.875rem;
    /* 7.5 * 0.25rem = 1.875rem */
  }

  .xl\:p-12\.5 {
    padding: 3.125rem;
    /* 12.5 * 0.25rem = 3.125rem */
  }

  .shadow-solid-3 {
    box-shadow: var(--shadow-solid-3);
  }

  .bg-strokedark {
    background-color: var(--color-strokedark);
    /* Usa a variável CSS definida */
  }

  .bg-stroke {
    background-color: var(--color-stroke);
    /* Usa a variável CSS definida */
  }

  .dark\:bg-blackho {
    background-color: var(--color-blackho);
    /* Usa a variável CSS definida */
  }
}